certifi==2024.8.30
charset-normalizer==3.3.2
cvlib==0.2.7
idna==3.10
imageio==2.35.1
imutils==0.5.4
numpy==2.1.1
opencv-python==4.10.0.84
pillow==10.4.0
progressbar==2.5
requests==2.32.3
urllib3==2.2.3
